<div class="image-container">
  {{ if ne ( substr ( .Destination | safeURL ) 0 1 ) '/' }}
    <img
      src="{{ .Destination | safeURL }}"
      alt="{{ .Text }}"
      loading="lazy"
    />
  {{ else }}
    {{ $img := imageConfig (add "/static" (.Destination | safeURL)) }}
    <img
      src="{{ .Destination | safeURL }}"
      alt="{{ .Text }}"
      loading="lazy"
      width="{{ $img.Width }}"
      height="{{ $img.Height }}"
    />
  {{ end }}
  {{ if .Title }}
    <p class="dark">{{ .Title }}</p>
  {{ end }}
</div>