@import "./variables.scss";
@import "./font.scss";
@import "./components/header.scss";
@import "./components/footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

// retina display font scaling
@media 
(orientation: landscape) {
  @media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
      body {
        font-size: 1.1em !important;
      }
  }
}

body {
  background-color: $background;
  color: $main;
  font-family: "Lato", "Roboto", sans-serif;
  font-size: 1em;
  text-size-adjust: none;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 10em;
  overflow-x: hidden;
}

a {
  color: $accent;
  text-decoration: none;
}

a:hover {
  color: $accent-dark;
}

p {
  line-height: 1.5;
}

picture img{
  display: block;
}

.dark {
  color: $dark;
}

.unselectable {
  user-select: none;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.title {
  margin-bottom: 1em;

  h1 {
    margin: 0;
  }

  .subtitle {
    color: $dark;
    font-size: 1.5em;
    margin-top: 0.2em;
  }

  .author {
    color: $dark;
    font-size: 1.2em;
    margin-top: 0.2em;
  }
}

@media (orientation: landscape) {
  // normal screen
  @media (max-aspect-ratio: 2/1) {
    #content {
      margin: 160px auto 0;
      width: 60vw;
    }
  }

  // ultrawide screen
  @media (min-aspect-ratio: 2/1) {
    #content {
      margin: 160px auto 0;
      width: 80vmin;
    }
  }
}

@media (orientation: portrait) {
  // ipad screen
  @media (min-aspect-ratio: 3/5) {
    body {
      font-size: 1.5em !important;
    }

    #content {
      margin: 160px auto 0 !important;
      width: 80vmin !important;
    }
  }

  #content {
    margin: 4em auto 0;
    width: calc(100vw - 3em);
  }
}

// Scrollbar styling
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: $main;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background: $dark;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
  background: $accent;
}

.full-height {
  height: 100%;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  .message-large {
    color: $dark;
    font-size: 3em;
    margin: 0;
    text-decoration: underline;
  }

  .message {
    color: $dark;
    margin: 0;
  }
}