footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3em;
  
  .contact-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  
    .contact-icon {
      font-size: 1.6em;
      width: 1.6em;
      padding-bottom: 0.4em;
      background-color: $background;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      a {
        color: $main;
      }

      a:hover {
        color: $dark;
      }
    }
  }
}
