@import "../variables.scss";

$burger-height: $burger-line-gap * 2 + $burger-line-height * 3;
$burger-width: $burger-height * 1.2;
$burger-margin: ($top-bar-height - $burger-height) / 2;

$burger-menu-height: $burger-menu-items * $burger-menu-item-height;

header {
  position: absolute;

  div.widescreen {
    z-index: 10;
    height: $header-height;
    padding: 0 $header-padding;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: $background;

    nav {
      display: flex;
      align-items: center;
      justify-content: right;
      gap: $header-nav-gap;

      a {
        color: $main;
        position: relative;
      }

      a:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        bottom: -2px;
        border-bottom: 2px solid $main;
        transition: 0.4s;
      }

      a:hover:after {
        left: 0;
        width: 100%;
      }
    }

    .header-title {
      color: $main;
      font-size: 1.5em;
    }
  }

  div.mobile {
    #burger-icon-container {
      width: 100vw;
      height: $top-bar-height;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      top: 0;
      z-index: 10;
      background: $background;
    }

    #burger-icon {
      cursor: pointer;
      width: $burger-width;
      margin-right: $burger-margin;

      div {
        height: $burger-line-height;
        background-color: $main;
      }

      .burger-icon-middle {
        margin: $burger-line-gap 0;
      }
    }

    #burger-menu {
      position: fixed;
      width: 100vw;
      display: flex;
      height: $burger-menu-height;
      top: -$burger-menu-height;
      background: darken($card, 7%);
      z-index: 5;
      align-items: center;
      flex-direction: column;
      transition: top 0.4s ease;
      padding-bottom: 0.2em;

      a {
        font-size: 1.5em;
        color: $main;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4em;
        width: 100vw;
      }
    }

    #burger-menu.open-menu {
      top: $burger-menu-item-height;
    }
  }

  #burger-mask {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background-color: none;
    transition: all 0.4s ease-in-out;
  }

  #burger-mask.apply-mask {
    opacity: 1;
    visibility: visible;
    backdrop-filter: blur(5px) brightness(0.4);
  }
}

@media (orientation: landscape) {
  header div.mobile {
    display: none;
  }

  #content * {
    scroll-margin-top: $min-header-height;
  }
}

@media (orientation: portrait) {
  header div.widescreen {
    display: none;
  }

  #content * {
    scroll-margin-top: 1.25*$top-bar-height;
  }
}
