{{ define "main" }}
  {{ partial "functions/load-scss.html" "scss/pages/collections.scss" }}
  <h1>Tags</h1>
  <div class="tags-container">
    {{ $tags := slice }}
    {{ range .Pages }}
      {{ $listedPages := where .Pages "Params.unlisted" "!=" true }}
      {{ if or (gt (len $listedPages) 0) (eq (len .Pages) 0) }}
        {{ $tags = $tags | append ( dict "Page" . "Count" ( len $listedPages ) ) }}
      {{ end }}
    {{ end }}
    {{ range sort $tags "Count" "desc" }}
      <b><a href="{{ .Page.RelPermalink }}">#{{ .Page.Title }} ({{ .Count }})</a></b>
    {{ end }}
  </div>
{{ end }}