@import "../variables.scss";

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.error-code {
  color: $dark;
  font-size: 10em;
  margin: 0;
}
