@import "../variables.scss";

.breadcrumb-link {
  color: $main;
  text-decoration: underline;
}

.breadcrumb-slash {
  margin: 0 0.2em;
}

.tags-container {
  display: flex;
  flex-wrap: 1;
  gap: 3em;
}

.series-title {
  h1 {
    margin-bottom: 0.2em;
  }

  margin-bottom: 1em;
}
