@import "../variables.scss";

.contact {
  margin: 2em 0 0.5em 0;
  width: 100%;

  h2 {
    text-align: center;
  }

  .contact-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 100%;
    gap: 25px;
  
    .contact-icon {
      font-size: 2em;
      padding: 0.4em;
      background-color: $background;
  
      a {
        color: $main;
      }
    }
  }
}
