@import "../variables.scss";

.contact {
  // margin: 3em 0 0.5em 0;
  width: 100%;

  // h2 {
  //   text-align: center;
  //   color: $dark;
  // }

  h3 {
    text-align: center;
    color: $dark;
  }

  .email {
    // margin: 1em 0;
    // text-align: center;

    .at-sign {
      display: inline-block;
      padding: 0 0.2em;
    }
  }
}
