@import "../variables.scss";

@media (orientation: portrait) {
  .card-cover-image {
    height: 13vh !important;
  }

  .card-text {
    padding: 0.8em 1.4em !important;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 0.2em;

  .list-title-line {
    display: flex;
    justify-content: space-between;

    .list-detail {
      color: $dark;
    }
  }
}

.date-group {
  color: $dark;
  text-align: right;
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.pagination {
  margin-top: 1.4em;
  margin-bottom: 0.4em;
  list-style-type: none;
  display: flex;
  gap: 1em;
  justify-content: center;
  user-select: none;
  font-size: 1.1em;

  .disabled > .page-link {
    color: $dark;
  }

  .active > .page-link {
    color: $main;
  }

  .page-link {
    padding: 0.3em;
  }
}

.card {
  background-color: $card;
  border-radius: 0.4em;
  transition: all 0.3s ease-out;
  color: $main;

  .card-cover-image {
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    height: 20vh;
    width: 100%;
    object-fit: cover;
  }

  .card-text {
    padding: 1.2em 1.4em;
  }
}

.card:hover {
  transform: scale(1.02);
  color: $main;
}