<header>
  <div class="widescreen">
    <a href="/" class="unselectable header-title">{{ .Site.Title }}</a>
    <nav>
      {{ range site.Params.Menu }}
        <a class="unselectable" href='{{ index . "url" }}'>{{ index . "name" }}</a>
      {{ end }}
    </nav>
  </div>
  <div class="mobile">
    <div id="burger-icon-container">
      <div id="burger-icon">
        <div></div>
        <div class="burger-icon-middle"></div>
        <div></div>
      </div>
    </div>
    <nav id="burger-menu">
      {{ range site.Params.Menu }}
        <a href='{{ index . "url" }}'>{{ index . "name" }}</a>
      {{ end }}
    </nav>
    <div id="burger-mask"></div>
  </div>
  <script>
    function preventScroll(e){
      e.preventDefault();
      e.stopPropagation();
  
      return false;
    }

    function toggleMenu() {
      const openMenu = !document.getElementById("burger-menu").classList.contains("open-menu");
      document.getElementById("burger-icon-container").classList.toggle("open-menu");
      document.getElementById("burger-menu").classList.toggle("open-menu");
      document.getElementById("burger-mask").classList.toggle("apply-mask");
      if (openMenu) {
        document.getElementById("burger-mask").addEventListener("wheel", preventScroll);
        document.getElementById("burger-mask").addEventListener("touchmove", preventScroll);
        document.getElementById("burger-menu").addEventListener("wheel", preventScroll);
        document.getElementById("burger-menu").addEventListener("touchmove", preventScroll);
        document.querySelectorAll("header>div.mobile")[0].addEventListener("wheel", preventScroll);
        document.querySelectorAll("header>div.mobile")[0].addEventListener("touchmove", preventScroll);
      } else {
        document.getElementById("burger-mask").removeEventListener("wheel", preventScroll);
        document.getElementById("burger-mask").removeEventListener("touchmove", preventScroll);
        document.getElementById("burger-menu").removeEventListener("wheel", preventScroll);
        document.getElementById("burger-menu").removeEventListener("touchmove", preventScroll);
        document.querySelectorAll("header>div.mobile")[0].removeEventListener("wheel", preventScroll);
        document.querySelectorAll("header>div.mobile")[0].removeEventListener("touchmove", preventScroll);
      }
    }

    document.getElementById("burger-icon").addEventListener("click", toggleMenu);
    document.getElementById("burger-mask").addEventListener("click", toggleMenu);
  </script>

  {{/*  dynamically size widescreen header  */}}
  <script>
    var lastScrollHeight = 0;

    const maxHeaderHeight = 160; // $header-height
    const minHeaderHeight = 80;
    var desktopHeaderOffset = 0;

    function setDesktopHeaderStyle(currentScrollHeight, scrollDelta) {
      truncatedScrollHeight = Math.min(currentScrollHeight, maxHeaderHeight);
      headerHeight = minHeaderHeight + (maxHeaderHeight - minHeaderHeight) * (maxHeaderHeight - truncatedScrollHeight) / maxHeaderHeight;
      document.querySelectorAll("header>div.widescreen")[0]
        .style.height = `${headerHeight}px`;
    }

    adjustHeaderStyles = function() {
      currentScrollHeight = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
      scrollDelta = currentScrollHeight - lastScrollHeight;

      // desktop header
      setDesktopHeaderStyle(currentScrollHeight, scrollDelta);

      lastScrollHeight = currentScrollHeight;
    };

    window.onscroll = adjustHeaderStyles;
  </script>
</header>