{{ $IncludeImage := .Get "include-image" }}
{{ with .Site.GetPage ( .Get "url" ) }}
  <a class="list-item card" href="{{ .RelPermalink }}">
    {{ if $IncludeImage }}
      {{ partial "functions/dynamic-img.html" ( dict "Context" . "ImagePath" .Params.CardImage "Alt" "cover image" "Class" "card-cover-image" ) }}
    {{ end }}
    <div class="card-text">
      <div class="list-title-line">
        <h3>{{ .Title }}</h3>
      </div>
      <p class="dark">{{ .Params.Description }}</p>
    </div>
  </a>
{{ end }}